<template name="configuration">
    <!--<div class="container">
        <div class="row">
            This Configuration page is under construction ... Please come back later.
        </div>
    </div>
	-->
	<div class="container">
        <div class="row">
            <div class="col-md-2 form-group">
                <label for="apartment-selection-dashboard">건축물 선택</label>
                <select class="form-control" id="apartment-selection-dashboard">
                    <option value="0" selected></option>
                    {{ #each apartments }}
                    <option value="{{_id}}">{{ name }}</option>
                    {{ /each }}
                </select>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
			 <div class="col-md-2" style="background-color: antiquewhite">
                <div class="list-group" id="building-list">
                    {{# each buildings}}
                        <button type="button" class="list-group-item" value="{{_id}}">{{name}}</button>
                    {{/each}}
                </div>
            </div>
             <div class="col-md-10">
				
				{{#if showConfiguration}}
					<!--{{> reactiveTable collection=buildingColection settings=settings showColumnToggles = true}} -->
					<table class="table table-condensed">
						 <thead>
							<tr>
								 <td class="col-md-2" style="text-align: center"></td>
								 <td class="col-md-2" style="text-align: center">Warning Threshold </td>
								 <td class="col-md-2" style="text-align: center">Danger Threshold </td>
								  <td class="col-md-2" style="text-align: center">Setting Date</td>
								 <!--<td style="width: 250px">Set</td>-->
							</tr>
						</thead>
						<tbody>
						
							<tr>
								<td>Sound</td>
								
								<td>
								{{#autoForm collection='Building' schema=getSchema id="editBuildingConfig" doc=selectedBuildingDoc type='update' autosave=true}}
								  {{> afFormGroup name="warningSoundThreshold" label=false}}
								{{/autoForm}}
								</td>
								
								<td>
								{{#autoForm collection='Building' schema=getSchema id="editBuildingConfig" doc=selectedBuildingDoc type='update' autosave=true}}
								  {{> afFormGroup name="dangerSoundThreshold" label=false}}
								{{/autoForm}}
								</td>
								
								<td>
								{{#autoForm collection='Building' schema=getSchema id="editBuildingConfig" doc=selectedBuildingDoc type='update' autosave=true}}
								  {{> afFormGroup name="soundThresholdSetingDate" label=false }}
								{{/autoForm}}
								</td>
							 </tr>
							 
							 <tr>
								<td>Vibration</td>
								
								<td>
								{{#autoForm collection='Building' schema=getSchema id="editBuildingConfig" doc=selectedBuildingDoc type='update' autosave=true}}
								  {{> afFormGroup name="warningVibThreshold" label=false }}
								{{/autoForm}}
								</td>
								
								<td>
								{{#autoForm collection='Building' schema=getSchema id="editBuildingConfig" doc=selectedBuildingDoc type='update' autosave=true}}
								  {{> afFormGroup name="dangerVibThreshold" label=false}}
								{{/autoForm}}
								</td>
								
								<td>
								{{#autoForm collection='Building' schema=getSchema id="editBuildingConfig" doc=selectedBuildingDoc type='update' autosave=true}}
								  {{> afFormGroup name="vibThresholdSetingDate" label=false }}
								{{/autoForm}}
								</td>
							 </tr>
						
						</tbody>
					</table>
					
					
					
					
					<!--{{#autoForm collection='Building' schema=getSchema id="editBuildingConfig" doc=selectedBuildingDoc type='update' }}
							<span class="help-block"></span>
							{{> afQuickField name='name' }}
							
							{{> afQuickField name='warningSoundThreshold' }}
							{{> afQuickField name='dangerSoundThreshold' }}
							{{> afQuickField name='warningVibThreshold' }}
							{{> afQuickField name='dangerVibThreshold' }}
						


							<button type="submit" class="btn btn-primary">Submit</button>
							
						  
					{{/autoForm}} -->
					
				{{/if}}
			
            </div>
        </div>
    </div>

</template>