<head>
  <meta charset="UTF-8">
  <title>Sound Monitor Application</title>
</head>
<body>
    {{> navigation }}
    {{> soundAlert}}

    {{> Router }}
</body>

<!--https://github.com/monbro/meteor-breadcrumb-plugin/blob/master/examples/advanced/meteor.html-->

<template name="navigation">
	<div class="container">	
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fuild">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ pathFor route='dashboard' }}">Sound Monitoring</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">
								{{> loginButtons }}
							</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="{{ isActiveRoute 'dashboard' }}"><a href="{{ pathFor route='dashboard' }}">{{ titlePage 'dashboard'}}</a></li>
						<li class="{{ isActiveRoute 'setup' }}">
							<div class="btn-group">
								<button class="btn">
								   <a href="{{ pathFor route='apartment'}}"> 
								   
									{{ titlePage 'setup' }}
									</a>
								</button>
								<button href="#" class="btn dropdown-toggle" data-toggle="dropdown"
								   aria-haspopup="true" aria-expanded="false">
									<b class="caret"></b>
								</button>
								<ul class="dropdown-menu">
									<li class="{{ isActiveRoute 'apartment'}}">
										<a href="{{ pathFor route='apartment'}}">
											{{ titlePage 'apartment' }}
										</a>
									</li>
									<li class="{{ isActiveRoute 'building'}}">
										<a href="{{ pathFor route='building'}}">
											{{ titlePage 'building' }}
										</a>
									</li>
									<li class="{{ isActiveRoute 'home'}}">
										<a href="{{ pathFor route='home'}}">
											{{ titlePage 'home' }}
										</a>
									</li>
									<li class="{{ isActiveRoute 'node'}}">
										<a href="{{ pathFor route='node'}}">
											{{ titlePage 'node' }}
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="{{ isActiveRoute 'configuration' }}"><a href="{{ pathFor route='configuration' }}">{{ titlePage 'configuration' }}</a></li>
						<li class="{{ isActiveRoute 'dataAnalysis' }}"><a href="{{ pathFor route='dataAnalysis' }}">{{ titlePage 'dataAnalysis' }}</a></li>
						<li class="{{ isActiveRoute 'report' }}"><a href="{{ pathFor route='report' }}">{{ titlePage 'report' }}</a></li>
					</ul>
					<form class="navbar-form navbar-right">
						<button type="button" class="btn btn-primary">Search</button>
						<input type="text" class="form-control" placeholder="apartment or building or home or node">
					</form>
				</div>
			</div>
		</nav>
	</div>
</template>

<template name="soundAlert">
    <div class="container-fluid" style="display : {{ status }}">
        <div class="row">
            <div class="alert {{ messageType }} alert-dismissible" role="alert" style="text-align: center">
                <button type="button" class="close"><span aria-hidden="true">×</span></button>
                <strong>{{ catchWord }}</strong> {{ message }}
            </div>
        </div>
    </div>
</template>
<!--https://github.com/monbro/meteor-breadcrumb-plugin/blob/master/examples/advanced/meteor.html-->
<template name="soundBreadcrumb">
    <div class="container-full">
        <div class="row">
            {{> breadcrumb }}
        </div>
    </div>
</template>

<template name="pageTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="page-header">
                    {{ titlePage }}
                </h1>
            </div>
            <div class="col-md-4">
                <h1 class="page-header">
                    <div class="btn-toolbar" role="toolbar">
                        {{#each actions }}
                            <div class="btn-group" role="group">{{link}}</div>
                        {{/each}}
                        <!--<button type="button" class="btn btn-primary">Left</button>-->
                        <!--<button type="button" class="btn btn-primary">Middle</button>-->
                        <!--<button type="button" class="btn btn-primary">Right</button>-->
                    </div>
                </h1>
            </div>
        </div>
    </div>
</template>
<template name="layout">
    {{> soundBreadcrumb }}
    {{> pageTitle }}

    {{> yield }}
</template>
