<template name="buildingCreate">
    <div class="container">
        <div class="row">
            {{#autoForm collection=this id="createBuildingForm" type='insert' }}
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-info">Reset Form</button>

                <span class="help-block"></span>
				{{> afQuickField name='apartmentId' options=apartmentOptions}}
                {{> afQuickField name='name' }}
                {{> afQuickField name='type' options="allowed"}}
                {{> afQuickField name='representative' }}
                {{> afQuickField name='manager' }}
                {{> afQuickField name='numOfFloors' }}
                {{> afQuickField name='numHousePerFloor' }}
				{{> afQuickField name='warningSoundThreshold' }}
				{{> afQuickField name='dangerSoundThreshold' }}
				{{> afQuickField name='warningVibThreshold' }}
				{{> afQuickField name='dangerVibThreshold' }}
                {{> afQuickField name='remarks' }}
                {{> afQuickField name='createdBy' }}

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-info">Reset Form</button>
            {{/autoForm}}
        </div>
    </div>
</template>