<template name="buildingDelete">
    <div class="container">
        <div class="row">
            {{#autoForm collection="Building" id="deleteBuildingForm" doc=theInstance }}
                <fieldset>
                    <legend><span class="alert alert-danger" role="alert">Are you sure you want to delete the following building? </span></legend>
                    <button type="button" class="btn btn-danger delete-confirm">YES</button>
                    <button type="button" class="btn btn-info delete-deny">NO</button>
                    {{> afQuickField name='name' readonly=true}}
                    {{> afQuickField name='buildingNumber' readonly=true}}
                    {{> afQuickField name='numOfFloors' readonly=true}}
                    {{> afQuickField name='numHousePerFloor' readonly=true}}
                    {{> afQuickField name='type' readonly=true}}
					{{> afQuickField name='manager' readonly=true}}
                </fieldset>
                {{#with theInstance}}
                <button type="button" class="btn btn-danger delete-confirm">YES</button>
                <button type="button" class="btn btn-info delete-deny">NO</button>
                {{/with}}
            {{/autoForm}}
        </div>
    </div>
</template>