<template name="buildingEdit">
    <div class="container">
        <div class="row">
            {{#autoForm collection="Building" id="editBuildingForm" doc=this type='update' }}
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-info edit-deny">Cancel</button>

                <span class="help-block"></span>

                {{> afQuickField name='name' }}
                {{> afQuickField name='type' options="allowed"}}
                {{> afQuickField name='apartmentId' options=apartmentOptions}}
                {{> afQuickField name='representative' }}
                {{> afQuickField name='manager' }}
                {{> afQuickField name='numOfFloors' }}
                {{> afQuickField name='numHousePerFloor' }}
				{{> afQuickField name='warningSoundThreshold' }}
				{{> afQuickField name='dangerSoundThreshold' }}
				{{> afQuickField name='warningVibThreshold' }}
				{{> afQuickField name='dangerVibThreshold' }}
                {{> afQuickField name='remarks' }}


                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-info edit-deny">Cancel</button>
            {{/autoForm}}
        </div>
    </div>
</template>