<template name="dataAnalysis">
    <div class="container">
        <div class="row">
            <div class="col-md-3 form-group">
                <label for="apartment-selection-dashboard">Select an apartment</label>
                <select class="form-control" id="apartment-selection-dashboard">
                    <option value="0" selected></option>
                    {{ #each apartments }}
                    <option value="{{_id}}">{{ name }}</option>
                    {{ /each }}
                </select>
            </div>
            <div class="col-md-3 form-group">
                <label for="startDateInput">Select start date:</label>
                <div class='input-group date' id='startDatePicker'>
                    <input type='text' class="form-control" id="startDateInput" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <label for="endDateInput">Select start date:</label>
                <div class='input-group date' id='endDatePicker'>
                    <input type='text' class="form-control" id="endDateInput"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <label for="thresholdPicker">Select threshold: </label>
                <input type='text' class="form-control" id='thresholdPicker'/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3" style="background-color: antiquewhite">
                <div class="list-group" id="building-list">
                    {{# each buildings}}
                        <button type="button" class="list-group-item" value="{{_id}}">{{name}}</button>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6" style="background-color: lightblue">
                        <ul class="list-group" id="home-list-col0">
                            {{# each homes }}
                                {{# if isRemainder index 0}}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 style="color:red" align="center">{{{homeNumber}}}</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered" >
                                                <tbody>
                                                    <tr>
                                                        <th>Max of Sound</th>
                                                        <td >{{maxInfo.maxSound}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Over Sound Threshold</th>
                                                        <td >{{maxInfo.overThresholdSound}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Max of Vibration</th>
                                                        <td>{{maxInfo.maxVibration}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Over Vibration Threshold</th>
                                                        <td>{{maxInfo.overThresholdVibration}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                    <div class="col-md-6" style="background-color: lightblue">
                        <ul class="list-group" id="home-list-col1">
                            {{# each homes }}
                                {{# if isRemainder index 1}}

                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 style="color:red" align="center">{{{homeNumber}}}</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered" >
                                                <tbody>
                                                <tr>
                                                    <th>Max of Sound</th>
                                                    <td >{{maxInfo.maxSound}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Over Sound Threshold</th>
                                                    <td >{{maxInfo.overThresholdSound}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Max of Vibration</th>
                                                    <td>{{maxInfo.maxVibration}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Over Vibration Threshold</th>
                                                    <td>{{maxInfo.overThresholdVibration}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>