
<template name="dataAnalysis">
    <div class="container-full">
        <div class="row">
            <div class="col-md-2 form-group">
                <label for="viewMode">View Mode:</label>
                <select class="form-control" id="viewMode">
                    <option value="data" selected>Data Mode</option>
                    <option value="graph" >Graph Mode</option>
                </select>
            </div>
            <div class="col-md-2 form-group">
                <label for="apartment-selection-dashboard">Select an apartment</label>
                <select class="form-control" id="apartment-selection-dashboard">
                    <option value="0" selected></option>
                    {{ #each apartments }}
                    <option value="{{_id}}">{{ name }}</option>
                    {{ /each }}
                </select>
            </div>
            <div class="col-md-2 form-group">
                <label for="startDateInput">Select start date:</label>
                <div class='input-group date' id='startDatePicker'>
                    <input type='text' class="form-control" id="startDateInput" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2 form-group">
                <label for="endDateInput">Select end date:</label>
                <div class='input-group date' id='endDatePicker'>
                    <input type='text' class="form-control" id="endDateInput"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2 form-group">
                <label for="thresholdSoundPicker">Sound threshold: </label>
                <input type='text' class="form-control" id='thresholdSoundPicker' value=''/>
            </div>
            <div class="col-md-2 form-group">
                <label for="thresholdVibrationPicker">Vibration threshold: </label>
                <input type='text' class="form-control" id='thresholdVibrationPicker' value=''/>
            </div>
        </div>
    </div>
    <div class="container-full">
        <div class="row">
            <div class="col-md-2" style="background-color: antiquewhite">
                <div class="row">
                    <div><strong>Buildings: </strong></div>
                    <div class="list-group" id="building-list">
                        {{# each buildings}}
                            <button type="button" class="list-group-item" value="{{_id}}">{{name}}</button>
                        {{/each}}
                    </div>
                </div>
                {{#if isGraphMode}}
                <div class="row">
                    <div><strong>Homes: </strong></div>
                    <div class="list-group" id="graph-home-list">
                        {{# each homes}}
                            {{> dataHome home=this masterTemplate=masterTemplate }}
                        {{/each}}
                    </div>
                </div>
                {{/if}}
            </div>
            {{#if isGraphMode}}
			  
					<div class="col-md-10">
						
							{{# each selectedHomes}}
								{{> chartHome home=this masterTemplate=masterTemplate }}
							{{/each}}
						
					</div>
			  
            {{else}}
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered" >
                                {{ #with buildingMaxInfo_1 }}
                                <tbody>
                                <tr>
                                    <th>Max of Sound</th>
                                    <td >{{maxSound}}</td>
                                </tr>
                                <tr>
                                    <th>Over Sound Threshold</th>
                                    <td >{{overThresholdSound}}</td>
                                </tr>
                                <tr>
                                    <th>Max of Vibration</th>
                                    <td>{{maxVib}}</td>
                                </tr>
                                <tr>
                                    <th>Over Vibration Threshold</th>
                                    <td>{{overThresholdVib}}</td>
                                </tr>
                                </tbody>
                                {{ /with}}
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="">
                            <ul class="list-group" id="home-list-col0">
                                {{# each homes }}
                                    {{# if isRemainder index 0}}
                                        {{> dataHome home=this masterTemplate=masterTemplate }}
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                        <div class="col-md-6" style="">
                            <ul class="list-group" id="home-list-col1">
                                {{# each homes }}
                                    {{# if isRemainder index 1}}
                                        {{> dataHome home=this masterTemplate=masterTemplate }}
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            {{/if}}

        </div>
    </div>

</template>

<template name="dataHome">
    <div class="homeCell list-group-item" id="{{ home._id }}">
    {{#if isGraphMode}}
        {{home.homeNumber}}
    {{else}}
        <div class="row">
            <div class="col-md-12">
                <h2 style="color:red" align="center">{{home.homeNumber}}</h2>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12">
        <table class="table table-bordered" >
        <tbody>
        {{ #with maxSoundInfo }}
        <tr>
            <th>Max of Sound</th>
            <td >{{maxSound}}</td>
        </tr>

        <tr>
            <th>Over Sound Threshold</th>
            <td >{{numOfSoundOverThreshold}}</td>
        </tr>
        {{/with}}
        {{ #with maxVibrationInfo }}
        <tr>
            <th>Max of Vibration</th>
            <td>{{maxVib}}</td>
        </tr>
        <tr>
            <th>Over Vibration Threshold</th>
            <td>{{numOfVibOverThreshold}}</td>
        </tr>
        {{/with}}
        </tbody>
        </table>
        </div>
        </div>
    {{/if}}

    </div>
</template>

<template name="chartHome">
 <div class="row">
    <h2 align="center">{{home.homeNumber}}</h2>
	
	<div id="{{home._id}}" style=""></div>
	
	<!--<button id="export">Export chart</button> -->
</div >
</template>

