<template name="welcome">
    <div class="jumbotron">
        <div class="container">
            <h2>사운드 모니터 어플리케이션에 오신 것을 환영합니다!</h2>
           <!-- <p>Please sign in to navigate to the dashboard where you can see real-time information of various apartments, buildings, homes and nodes.</p> -->
            <p>
                <a class="btn btn-primary btn-lg" href="#" role="button" id="welcome-login-button">Login »</a>
                <a class="btn btn-success btn-lg" href="#" role="button" id="welcome-create-button">Create Account »</a>
            </p>
        </div>
    </div>
</template>