/* CSS declarations go here */
/*
body {
    margin: 5px;
    background: #A6A6A6
}
*/
body {
    padding-top: 50px;
}

.navbar-fixed-top {
    border: 0;
}

#login-dropdown-list{
    top: 40px;
    left: -169px;
}

.page-header {
    margin-top : 0px;
}

.navbar-inverse .navbar-nav > .active > .btn-group, .navbar-inverse .navbar-nav > .active > .btn-group a, .navbar-inverse .navbar-nav > .active > .btn-group button:focus {
    color: #fff;
    background-color: #080808;
}

.navbar-inverse .navbar-nav .btn-group a:hover {
    color: #fff;
    background-color: #080808;
}

.navbar-inverse .navbar-nav button, .navbar-inverse .navbar-nav button a  {
    color: #9d9d9d;
    background-color: transparent;
}

li > .btn-group {
    padding: 15px 15px 15px 15px;
}
li > .btn-group > .btn {
    border-width: 0px 0px 0px 0px;
    padding: 0px 6px 0px 0px;
    text-align: center;
}