/* CSS declarations go here */
/*
body {
    margin: 5px;
    background: #A6A6A6
}
*/
body {
    padding-top: 50px;
}

.navbar-fixed-top {
    border: 0;
}

#login-dropdown-list{
    top: 40px;
    left: -169px;
}

.page-header {
    margin-top : 0px;
}

.navbar-inverse .navbar-nav > .active > .btn-group, .navbar-inverse .navbar-nav > .active > .btn-group a, .navbar-inverse .navbar-nav > .active > .btn-group button:focus {
    color: #fff;
    background-color: #080808;
}

.navbar-inverse .navbar-nav .btn-group a:hover {
    color: #fff;
    background-color: #080808;
}

.navbar-inverse .navbar-nav button, .navbar-inverse .navbar-nav button a  {
    color: #9d9d9d;
    background-color: transparent;
}

li > .btn-group {
    padding: 15px 15px 15px 15px;
}
li > .btn-group > .btn {
    border-width: 0px 0px 0px 0px;
    padding: 0px 6px 0px 0px;
    text-align: center;
}
.box {
    max-width: 500px;
	margin-top:10px;
	margin-bottom:10px;
	min-height: 280px;
	overflow: hidden;
	min-width: 350px;
	overflow: hidden;
    padding-left:2px;
	padding-right:2px;
	padding-top:2px;
	padding-bottom:2px;
    border: 1px solid red;
	background-color: lightblue
}
.box_dataAnalysis {
    max-width: 500px;
	margin-top:10px;
	margin-bottom:10px;
	min-height: 280px;
	overflow: hidden;
	min-width: 350px;
	overflow: hidden;
    padding-left:2px;
	padding-right:2px;
	padding-top:2px;
	padding-bottom:2px;
    border: 1px solid red;
	
}
.box1 {
    max-width: 500px;
	margin-top:10px;
	margin-bottom:10px;
    height: 500px;    
    padding-left:2px;
	padding-right:2px;
	padding-top:2px;
	padding-bottom:2px;
    border: 1px solid red;
}
.container-full{
	width:100%;
	margin:0 auto;
	padding-left:30px;
	padding-right:30px;
	padding-top:20px;
	padding-bottom:20px;
}
.table {
  border: 1px solid ;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border: 1px solid ;
}


.HomeList
{
    overflow-x:scroll;
    overflow-y:hidden;
    height:0 auto;
    width:100%;
    padding: 0 15px;
}



.list-inline {
  white-space:nowrap;
}
li.homeCell .list-group-item .list-dataAnalysis {
	border-radius: 0px;
	border-top: 0 none;
	border-top: 0 none;

}